




.menu {
    display: flex;
    justify-content: center;
}
.menu_container {
    display: flex;
    width: 1230px;
    justify-content: space-between;
    
}
.menu_logo {
}
.menu_about {
    display: flex;
    width: 1036px;
    justify-content: space-between;
}
.menu_about_list {
    list-style-type: none;
    padding-left: 0%;
    display: flex;
    justify-content: space-between;
    width: 517px;
}

.menu_about-item{
    
}
.menu_contact {
    display: flex;
    flex-direction: column;
    width: 154px;
    gap: 2px;
}

.menu_contact-info{
    display: flex;
    justify-content: space-around;
    
}
.menu_contact-icon{

}

.menu_contact-number {
    font-weight: 500;
    font-size: 16px;
    margin: 0;
}
.menu_contact-time {
    font-weight: 500;
    font-size: 12px;
    line-height: 14.88px;
    color: #B7B7B7;
    display: flex;
    justify-content: end;
    margin: 0;

}

.menu_about_container{
    margin-top: 10px;
}
.menu_about_acc {
    display: flex;
    gap: 24px;
}
.menu_about-acc-cash {
    border-radius: 6px;
    background-color: #F5F5F5;
}
.menu_about-acc-cash {
    display: flex;
    width: 134px;
    
}
.menu_about-acc-cash-info {
    width: 45px;
    text-align: center;
    padding: 16px;
    border-right: 1px solid #ffffff;
    
    font-weight: 500;
    font-size: 14px;
    
}
.menu_about-acc-cash-notif {
    margin: 12px 16px;
}
.menu_about-acc-prof {
    display: flex;
    width: 48px;
    border-radius: 6px;
    background-color: #F5F5F5;
}
.menu_about-acc-prof-logo{
    display: flex;
    margin: 12px;
}
.menu_catalog {
    
}
.menu_catalog-list {
    background-color: #F5F5F5;
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    
}
.menu_catalog-li {
    display: flex;
    gap: 8px;
    text-align: center;

}
.menu_catalog-name{
    margin: 0px;
}

.menu_catalog-food {


}
.error {
}
.error_container {
margin: 64px 40px;
}
.error_logo {
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.error_logo-4 {
}
.error_logo-img {
}
.error_text {
    text-align: center;
    
}
.error_title {
    font-weight: 500;
    font-size: 36px;
    line-height: 44.64px;
    margin: 0px;
}
.error_subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin: 0px;
    text-align: center;
    margin: 8px 0 24px 0;

}
.error_btn {
    background-image: url(/imj/bag_btn.svg);
    padding: 16px 80px;
    background-color: #E07153;
    border: 1px solid #C95C3F;
    border-radius: 2px;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
}
.footer {
    padding-top: 35px;
background-color: black;
color: white;
padding-bottom: 15px;
}
.footer_container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 1200px;
}
.footer_logo {
    margin-top: -70px;
}
.footer_contact {
    
}
.footer_contact-list {
    list-style-type: none;
    display: flex;
    gap: 40px;
}
.footer_contact-item {
}
.footer_contact_soc {
    margin-top: 12px;
list-style-type: none;
display: flex;
gap: 12px;
}
.footer_conact_soc-icon {
}
.footer_menu {
}
.footer_menu-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(5, 40px);
    grid-column-gap: 40px;
    
    
}
.footer_menu-item {
}
.footer_info {
    display: flex;
    flex-direction: column;

}
.footer_info-numb {
font-weight: 700;
font-size: 24px;
margin: 0;
}
.footer_info-clock {
font-weight: 400;
font-size: 16px;
margin-top: 7px;
text-align: end;
}
.footer_info-ps {
    font-weight: 300;
    font-size: 12px;
    margin-top: 20px;
    text-align: end;
}